/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'sass:color';


/*-----------------------------------------------------------------------------------*/
/* HEADER */
/*-----------------------------------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @include space-p(x);
  background: var(--white);
  transition: box-shadow 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 11;

  &__row {
    @include cell-row;
    align-items: center;
    justify-content: between;
  }

  &__one {
    @include cell(auto);
  }

  &__two {
    @include cell(0);
    text-align: center;
  }

  &__three {
    display: flex;
    align-items: center;
    @include cell(auto);
  }

}

.scroll-down .header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .header {
  transform: none;
  // @include box-shadow (0 0 4rem rgba(color.adjust(map-get($colors, "grey-dark"), $lightness: -10%), 0.5));
  @include box-shadow (0 0 2rem rgba(map-get($colors, "black"), 0.5));
}


/*-----------------------------------------------------------------------------------*/
/* LOGO */
/*-----------------------------------------------------------------------------------*/

.logo {
  position: relative;
  display: block;
  width: 21rem;
  transition: width 0.5s cubic-bezier(0.5, 0, 0.5, 1);

  @include media-up($nav-breakpoint) {
    width: 28rem;
  }

  img {
    width: 100%;
  }

}

// .scroll-down .logo {

//   @include media-up($nav-breakpoint) {
//     width: 28rem;
//   }

// }

// .scroll-up .logo {


//   @include media-up($nav-breakpoint) {
//     width: 21rem;
//   }
  
// }