/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/functions' as *;
@use 'abstracts/utility' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/media' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.header {
  position: relative;
  top: 0;
  background: var(--white);
  width: 100%;
  font-size: var(--btn-size);
  @include box-shadow (rgba(0,0,0,0.2) 0 0.2rem 1.5rem);
  z-index: 4;

  &--sticky {
    position: fixed;
    opacity: 1;
    visibility: visible;
    z-index: 4;
    @include animation (slideIn 0.3s);
  }

  &__top {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    justify-content: center;
    padding: 2rem var(--space-x);

    @include media-up($nav-breakpoint) {
      grid-template-columns: auto 1fr auto;
      padding: 3rem var(--space-x);
    }

    > * {
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-down($nav-breakpoint) {
        
        &:last-child {
          justify-content: end;
        }

      }

    }

  }

  &__bottom {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    justify-content: center;
    padding: 2rem;
    color: var(--white);
    background: var(--black);

    a {
      color: inherit;
    }

    @include media-down($nav-breakpoint) {
      display: none;
    }

    @include media-up($nav-breakpoint) {
      grid-template-columns: auto 1fr auto;
      padding: 3rem var(--space-x);
    }

    > * {
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-down($nav-breakpoint) {
        
        &:last-child {
          justify-content: end;
        }

      }

    }

  }

}


/*-----------------------------------------------------------------------------------*/
/* LOGO */
/*-----------------------------------------------------------------------------------*/

.logo {
  position: relative;
  display: block;
  // width: 21rem;
  transition: width 0.5s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);

  // @include media-up($nav-breakpoint) {
  //   width: 28rem;
  // }

  @include hover {
    opacity: 0.8;
  }

  img {
    display: block;
  }

}