.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-grey-dark;

  &__title {
    color: $color-white;
  }

  &__subtitle {
    color: $color-grey-light;
  }

}