.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-grey-dark;
  @include d-flex;
  @include flex-wrap(wrap);
  align-content: center;
  padding-top: 4rem;
  padding-bottom: 5rem;

  @include media-up(sm) {
    padding-top: 6rem;
    padding-bottom: 7rem;
  }

  @include media-up(md) {
    min-height: 35rem;
  }


  &__title {
    color: $color-white;
  }

  &__subtitle {
    color: $color-grey-light;
  }


}