.carousel {

  .slide {
    display: flex;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-grey-500;

    .content {
      height: 100%;

      &__row {
        height: 100%;
      }

    }

    &__inner {
      @include cell;
      @include cell-span(12);
      @include align-self(center);
      padding-top: 6rem;
      padding-bottom: 6rem;

      @include media-up(sm) {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }

    }

  }

  &__title {
    color: $color-white;
    font-size: 4.5rem;

    @include media-up(sm) {
      font-size: 5rem;
    }

    @include media-up(lg) {
      font-size: 5.3rem;
    }

  }

  &__subtitle {
    color: $color-grey-200;
  }

}