$card-padding-x:        3rem;
$card-padding-y:        3rem;
$card-background:       $color-grey-100;
$card-img-height:       20rem;

.card {
  @include cell;
  @include cell-span(12);
  padding-top: $gutter;
  padding-bottom: $gutter;

  @include media-up(sm) {
    @include cell-span(6);
  }

  @include media-up(lg) {
    @include cell-span(0);
  }

  &__row {
    @include cell-row;
  }

  &__inner {
    background-color: $card-background;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__media {
    display: block;
    overflow: hidden;
  }

  &__img {
    display: block;
    height: $card-img-height;
    @include object-fit (cover);
    width: 100%;
    transition: all 0.3s ease-in-out;

    @include hover-focus {
      @include transform (scale(1.1));
    }

  }

  &__text {
    padding: $card-padding-y $card-padding-x;
  }

  &__footer {
    padding: 0 $card-padding-x $card-padding-y;
  }

}