.cta {
  @include block-y;
  background-color: $color-grey-dark;
  color: $color-white;
  
  &__outer {
    @include cell-fixed;
  
    &__row {
      @include cell-row;
    }
  
  }

  &__inner {
    @include cell;
    @include cell-span(12);
  
    &__row {
      @include cell-row;
      justify-content: space-between;
      align-items: center;
    }
  
  }

  &__heading {
    margin: 0;
  }

  &__one {
    @include cell;
    @include cell-span(0);
  }

  &__two {
    @include cell;
    @include cell-span(auto);
  }

}