.accordion {
  position: relative;
  @include space-p(x);

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &__row {
    position: relative;
    @include cell-row;
  }

  &__top {
    padding-bottom: var(--gutter-lg);
  }

  &__lead {
    font-size: var(--size-h6);
  }
  
  &__list {
    list-style: none;
    margin-top: $margin-top-md;
    margin-bottom: $margin-bottom-md;

    @include media-up(md) {
      margin-top: $margin-top-lg;
      margin-bottom: $margin-bottom-lg;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__item {
    display: block;

    &:not(:first-child) {
      margin: 1rem 0 0;
    }

  }

  &__toggle {
    cursor: pointer;
    position: relative;
    color: var(--white);
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-h6);
    font-weight: var(--medium);
    line-height: 1.3;
    letter-spacing: 0.08rem;
    border-radius: var(--border-radius-sm);
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 2rem 3rem;
    @include transition(all);

    &:hover {
      background: var(--accent-light);
    }

    span:not(.icon, .btn) {
      flex: 1 0 0;
      padding: 0 2rem 0 0;
    }

    .icon {
      @include transition (all);
  
      svg {
        fill: var(--grey-light);
        position: absolute;
        top: 0;
        left: 0;
      }
  
    }

  }

  &__description {
    display: none;
    margin: 0;
    padding: 0;
    background: var(--grey-light);
  }

  &__content {
    padding: 3rem;

    p {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  /* --- OPEN --- */

  &__item {

    &--open {
    
      .accordion {
  
        &__toggle {
          background: var(--accent);
          
          .icon {
            @include transform (rotate(180deg));
  
            svg {
              fill: var(--white);
            }
  
          }

        }

      }
  
    }

  }

}