.banner {
  position: relative;
  background: var(--grey-light);

  &__row {
    @include cell-row;
    
    @include media-up(md) {
      min-height: calc(var(--vh, 1vh) * 100 - var(--header-height)); //header height with device view hight fix
      // min-height: 50rem;
    }

  }

  &__one {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-y) var(--space-x);
  }

  &__two {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;

    @include media-down(md) {
      aspect-ratio: 7 / 4;
    }

    @include media-up(md) {
      width: 50%;
    }

  }

  &__media {
    position: relative;
    height: 100%;
  }

  img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    @include object-fit(cover);
  }

  img {
    @include object-position(center);
  }

  video {
    @include object-position(center);
  }

  &__intro {
    margin: 0;
  }

  &__meta {
    list-style: none;
    margin: 0;
  }
  
  &__categories {
    list-style: none;
    margin: 0;
  }

  &__date {
    font-size: 85%;
  }

}