/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/functions' as *;
@use 'abstracts/utility' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/media' as *;
@use 'partials/button' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.banner {
  position: relative;
  background: var(--black);
  color: var(--white);

  &__row {
    display: grid;
    grid-template-columns: auto;
    
    @include media-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    &--single {

      @include media-up(md) {
        grid-template-columns: auto;
      }

    }

    &--vh {

      @include media-up(md) {
        min-height: calc(var(--vh, 1vh) * 100 - var(--header-height)); //header height with device view hight fix
      }

    }

  }

  &__column {
    position: relative;

    &:not(&--media) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: var(--space-y) var(--space-x);
    }

    &--media {

      img,
      video {
        @include object-fit (cover);
        @include object-position (center);
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 10;
      }
  
    }
  
  }

  &__summary {
    padding-top: 2.5rem;

    @include media-up(md) {
      padding-top: 3.5rem;
    }

    h2, h4 {
      font-size: var(--h3);
    }

  }

  &__meta {
    display: flex;
    gap: 3rem;
    margin-block-start: var(--heading-margin-block-start);
    align-items: center;
  }

  &__categories {
    @include list-inline;

    a {
      display: inline-block;
      font-size: 90%;
      color: var(--white);
      background: var(--accent);
      padding: 0.6rem 2.2rem 1rem;
      border-radius: 20rem;

      @include hover {
        color: var(--grey-dark);
        background: var(--white);
      }

    }

  }

  &__date {

    .icon {
      display: inline-block;
      margin-right: 1rem;
      vertical-align: text-bottom;

      svg {
        fill: var(--accent)
      }

    }

  }

  .btn {
    @include btn-accent-wo;
  }

}