/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/utility' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/media' as *;
@use 'partials/button' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.benefits {
  position: relative;
  padding: 0 var(--space-x);

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &__fixed {
    @include fixed;
  }

  &__top {
    padding: 0 0 var(--space-gutter);
  }

  &__heading {
    font-size: var(--h2);
    font-weight: var(--bold);
    margin: 0 0 1.5rem;

    @include media-up(md) {
      margin: 0 0 2rem;
    }

  }

  &__lead {
    font-size: var(--h4);
    margin: 0;
  }

  table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;

    @include media-up(md) {
      font-size: var(--h6);
    }

    thead th,
    tbody td {
      padding: 1.5rem 1rem;
      font-weight: var(--bold);
      vertical-align: middle;

      @include media-up(sm) {
        padding: 1.8rem 1.3rem;
      }

      @include media-up(md) {
        padding: 2.5rem 2rem;
      }

      @include media-up(xl) {
        padding: 3rem 2.5rem;
      }

    }

    thead {

      th {
        text-align: center;
        padding-top: 0;
  
        &:nth-child(1) {
          text-align: left;
          border-width: 0 0 0.1rem;
          border-style: solid;
        }

        &:nth-child(2) {
          border-width: 0 0 0.1rem;
          border-style: solid;
          white-space: nowrap;
        }

        &:nth-child(3) {
          border-width: 0 0 0.1rem;
          border-style: solid;
          white-space: nowrap;
        }
    
      }
  
    }

    tbody {

      td {
        text-align: center;
        border-width: 0 0 0.1rem;
        border-style: solid;

        .icon {

          @include media-up(md) {
            transform: scale(1.5);
          }

          @include media-up(lg) {
            transform: scale(1.7);
          }
    
        }
  
        &:nth-child(1) {
          text-align: left;
        }
    
      }
  
    }

  }

  &__link {

    @include media-down(sm) {
      display: block;
      margin: 0 auto;
      width: fit-content;
    }

  }

  &--primary {
    background: var(--primary);
    color: var(--white);

    table {

      thead {
  
        th {
    
          &:nth-child(1) {
            border-color: var(--secondary);
          }
  
          &:nth-child(2) {
            border-color: var(--secondary);
          }
  
          &:nth-child(3) {
            border-color: var(--secondary);
          }
      
        }
    
      }
  
      tbody {
  
        td {
          background: var(--primary);
          border-color: var(--secondary);
  
          .icon {
            fill: var(--white);
          }
  
          &:nth-child(3) {
            background: var(--secondary);
  
            .icon {
              fill: var(--white);
            }
  
          }
      
        }

        tr:not(:last-child) td {

          &:nth-child(3) {
            border-color: var(--primary);
          }

        }
    
      }

    }

    .btn {
      @include btn-secondary-wo;
    }

  }

  &--secondary {
    background: var(--secondary);
    color: var(--white);

    table {

      thead {
  
        th {
    
          &:nth-child(1) {
            border-color: var(--primary);
          }
  
          &:nth-child(2) {
            border-color: var(--primary);
          }
  
          &:nth-child(3) {
            border-color: var(--primary);
          }
      
        }
    
      }
  
      tbody {
  
        td {
          background: var(--secondary);
          border-color: var(--primary);
  
          .icon {
            fill: var(--white);
          }
  
          &:nth-child(3) {
            background: var(--primary);
  
            .icon {
              fill: var(--white);
            }
  
          }
      
        }

        tr:not(:last-child) td {

          &:nth-child(3) {
            border-color: var(--secondary);
          }

        }
    
      }

    }

    .btn {
      @include btn-primary-wo;
    }

  }

  &--white {
    background: var(--white);
    color: var(--primary);

    .benefits {

      &__lead {
        color: var(--black);
      }

    }

    table {

      thead {
  
        th {
    
          &:nth-child(1) {
            border-color: var(--primary);
          }
  
          &:nth-child(2) {
            border-color: var(--primary);
          }
  
          &:nth-child(3) {
            border-color: var(--primary);
          }
      
        }
    
      }
  
      tbody {
  
        td {
          background: var(--grey-light);
          border-color: var(--primary);
  
          .icon {
            fill: var(--primary);
          }
  
          &:nth-child(3) {
            background: var(--primary);
  
            .icon {
              fill: var(--white);
            }
  
          }
      
        }

        tr:not(:last-child) td {

          &:nth-child(3) {
            border-color: var(--grey-light);
          }

        }
    
      }

    }

    .btn {
      @include btn-primary;
    }

  }

}