.breadcrumb {
  font-weight: var(--regular);
  padding: 0 0 2rem;

  .icon--chevron {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 320 512' style='enable-background:new 0 0 320 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23131313;%7D%0A%3C/style%3E%3Cpath class='st0' d='M278.6,233.4c12.5,12.5,12.5,32.8,0,45.3l-160,160c-12.5,12.5-32.8,12.5-45.3,0s-12.5-32.8,0-45.3L210.7,256 L73.4,118.6c-12.5-12.5-12.5-32.8,0-45.3s32.8-12.5,45.3,0l160,160L278.6,233.4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 1rem;
    display: inline-block;
    margin: 0 0.5rem;
  }

  a {
    font-weight: var(--regular);
    color: var(--black);

    @include hover {
      color: var(--accent);
    }

  }

}