/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/functions' as *;
@use 'abstracts/utility' as *;
@use 'abstracts/variables' as *;
// @use 'abstracts/media' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.breadcrumb {
  font-weight: var(--regular);

  > span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  .icon--chevron {
    position: relative;
    top: 0.2rem;
    display: block;
    background-image: $icon-chevron-right-white;           
    background-repeat: no-repeat;
    width: 1.6rem;
    aspect-ratio: 1 / 1;
  }

  a {
    color: var(--grey);

    @include hover {
      color: var(--white);
    }

  }

}