/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/functions' as *;
@use 'abstracts/utility' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/media' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.content {
  position: relative;
  padding-left: var(--space-x);
  padding-right: var(--space-x);

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &:first-of-type {
    z-index: 1;
  }

  &:first-of-type {
    z-index: 1;
  }

  &--left {

    .content {

      &__column {

        &:nth-child(1) {
          order: 1;
        }
  
        &:nth-child(2) {
          order: 2;
        }

      }

    }

  }

  &--right {

    .content {

      &__column {

        &:nth-child(1) {
          order: 2;
        }
  
        &:nth-child(2) {
          order: 1;
        }

      }

    }

  }

  &__fixed {
    @include fixed;
  }

  &__row {
    display: grid;
    grid-template-columns: auto;
    gap: $gap;

    @include media-up(lg) {
      grid-template-columns: repeat(2, 1fr);

      &--single {
        grid-template-columns: 1fr;

        .content__column--body {
          display: block;
        }

      }

    }

  }

  &__column {

    &--body {
      display: flex;
    }

    &--media {
      position: relative;

      .content__media {
        position: sticky;
        top: 17rem;
        z-index: 1;
      }
      
    }

  }

  &__media {
    position: relative;
    width: 100%;

    &--img,
    &--video {
      z-index: 1;

      @include media-down(lg) {
        max-height: 55rem;
        aspect-ratio: 7 / 5;
      }

      @include media-up(lg) {
        height: 35vw;
      }
      
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
  
      @include media-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
      }
  
    }

    &--cover {
      
      img {
        @include object-fit (cover);
      }

    }

    &--contain {
      
      img {
        @include object-fit (contain);
      }

    }

    &--video {
      
      img {
        @include object-fit (cover);
      }

    }

    &--top {
      
      img {
        @include object-position(top);
      }

    }

    &--center {
      
      img {
        @include object-position(center);
      }

    }

    &--bottom {
      
      img {
        @include object-position(bottom);
      }

    }

  }

  &__body {
    position: relative;
    padding-left: var(--space-x);
    padding-right: var(--space-x);
    align-self: center;

    ul {
      @include list-bullet;
    }

    ol {
      @include list-number;
    }

  }

  &--white {
    background: var(--white);
  }

  &--grey {
    background: var(--grey);
  }

  &--accent {
    background: var(--accent);
    color: var(--white);

    h2,
    h3,
    h4 {
      color: var(--white);
    }

    a:not(.btn) {
      color: var(--white);

      @include hover-focus {
        color: var(--accent-light);
      }

    }

  }

}