/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/media' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.map {
  height: 54vw;
  max-height: 55rem;
  min-height: 25rem;

  @include media-up(sm) {
    height: 48vw;
  }
  
  @include media-up(md) {
    height: 43vw;
  }

  &__frame {

    &--sm {
      display: block;
    }

    &--lg {
      display: none;
    }
    
    @include media-up(sm) {
      
      &--sm {
        display: none;
      }
  
      &--lg {
        display: block;
      }

    }

  }

}