.quicklinks {
  position: relative;
  @include space-p(x);

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &--white {
    background: var(--white);

    .section {

      .btn {
        @include btn-black;
      }

    }

  }

  &--accent {
    background: var(--accent);
    color: var(--white);

    .section {

      h2,
      h3,
      h4 {
        color: var(--white);
      }

      .btn {
        @include btn-white;
      }

    }

  }

  &--grey {
    background: var(--grey-light);

    .section {

      .btn {
        @include btn-black;
      }

    }

  }

  &:first-of-type {
    z-index: 1;
  }

  &__list {
    list-style: none;
    @include cell-row; 
  }

  &__item {
    @include cell(12);

    @include media-up(xs) {
      @include cell(6);
    }

  }

}