.quicklinks {
  position: relative;
  @include space-p(x);

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &--white {
    background: var(--white);

    .quicklinks__top {

      .btn {
        @include btn-black;
      }

    }

  }

  &--accent {
    background: var(--accent);
    color: var(--white);

    .quicklinks__top {

      h2,
      h3,
      h4 {
        color: var(--white);
      }

      .btn {
        @include btn-white;
      }

    }

  }

  &--grey {
    background: var(--grey-light);

    .quicklinks__top {

      .btn {
        @include btn-black;
      }

    }

  }

  &:first-of-type {
    z-index: 1;
  }

  &__top {
    padding-bottom: var(--gutter-lg);
  }

  &__heading {
    font-size: var(--size-h2);
  }

  &__list {
    list-style: none;
    @include cell-row; 
    @include cell-row-gutter-x-sm;
    @include cell-row-gutter-y-sm;

    @include media-up(md) {
      @include cell-row-gutter-x;
      @include cell-row-gutter-y;
    }

  }

  &__item {
    @include cell(12);
    @include cell-gutter-x-sm;
    @include cell-gutter-y-sm;

    @include media-up(md) {
      @include cell(6);
      @include cell-gutter-x;
      @include cell-gutter-y;
    }

  }

}