/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/functions' as *;
@use 'abstracts/utility' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/media' as *;
@use 'partials/button' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.results {
  position: relative;
  padding: 0 var(--space-x);

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &__fixed {
    @include fixed;
  }

  &__heading {
    font-size: var(--h2);
    font-weight: var(--bold);
    margin-bottom: var(--space-gutter);
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @include media-up(md) {
      gap: 3rem;
    }

    &--multiple {

      .results {

        &__item {
          flex: 0 0 auto;
          width: 100%;

          &--default {
        
            @include media-up(md) {
              width: calc(50% - 1.5rem);
            }

          }

          &--excerpt {
        
            @include media-up(md) {
              width: calc(50% - 1.5rem);
            }
            
          }

        }

      }

    }

    &--row {
      display: flex;
      justify-content: center;

      @include media-down(xs) {
        flex-direction: column;
      }

    }

  }

  &__item {

    &--excerpt {
      display: grid;
      grid-template-rows: auto 1fr;
      border: 0.1rem solid var(--grey);
      background: var(--white);
      color: var(--primary);
      padding: #{fluid(20px, 40px)};
      border-radius: var(--results-radius-sm);
      gap: 2rem;

      @include media-up(md) {
        gap: 3rem;
      }

      @include media-up(sm) {
        border-radius: var(--results-radius-lg);
      }

    }

    .comparison--slider {
      aspect-ratio: 16 / 10;
    }

  }

  &__title {
    font-size: var(--h5);
    font-weight: var(--bold);
    margin-bottom: 1rem;

    @include media-up(md) {
      margin-bottom: 2rem;
    }

  }

  .btn:not(.btn--more) {
    margin-left: auto;
    margin-right: auto;
  }

  &--primary {
    background: var(--primary);
    color: var(--white);

    .btn:not(.btn--more) {
      @include btn-secondary-wo;
    }

  }

  &--secondary {
    background: var(--secondary);
    color: var(--white);

    .btn:not(.btn--more) {
      @include btn-primary-wo;
    }

  }

  &--white {
    background: var(--white);
    color: var(--primary);

    .btn:not(.btn--more) {
      @include btn-primary;
    }

  }

}