.split {
  position: relative;
  @include space-p(x);

  &--white {
    background: var(--white);
  }

  &--accent {
    background: var(--accent);
    color: var(--white);

    h2,
    h3,
    h4 {
      color: var(--white);
    }

  }

  &--grey {
    background: var(--grey-light);
  }

  &--t {
    padding-top: var(--space-y);
  }

  &--b {
    padding-bottom: var(--space-y);
  }

  &:first-of-type {
    z-index: 1;
  }

  &--left {

    .split {

      &__body {

        @include media-down(lg) {
          @include space-p(bottom);
        }

        @include media-up(lg) {
          @include space-p(left);
        }

      }

    }

  }

  &--right {

    .split {

      &__row {

        @include media-up(lg) {
          flex-direction: row-reverse;
        }

      }

      &__body {

        @include media-down(lg) {
          @include space-p(bottom);
        }

        @include media-up(lg) {
          @include space-p(right);
        }

      }

    }

  }

  &__row {
    @include cell-row;

    @include media-down(lg) {
      flex-direction: column-reverse;
    }

  }

  &__column {
    position: relative;
    @include cell(12);
    display: flex;

    @include media-up(lg) {
      @include cell(6);
    }

    &--sticky {
      position: sticky;
      top: 15rem;
    }

    &--full {

      @include media-up(lg) {
        @include cell(12);
      }

    }

  }

  &__media {
    position: relative;
    width: 100%;

    &--img,
    &--video {
      max-height: 50rem;
      aspect-ratio: 7 / 5;
      z-index: 1;

      @include media-up(lg) {
        max-height: 55rem;
        aspect-ratio: 7 / 6;
      }
      
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
  
      @include media-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
      }
  
    }

    &--cover {
      
      img {
        @include object-fit (cover);
      }

    }

    &--contain {
      
      img {
        @include object-fit (contain);
      }

    }

    &--video {
      
      img {
        @include object-fit (cover);
      }

    }

    &--top {
      
      img {
        @include object-position(top);
      }

    }

    &--center {
      
      img {
        @include object-position(center);
      }

    }

    &--bottom {
      
      img {
        @include object-position(bottom);
      }

    }

  }

  &__body {
    position: relative;
    @include cell(12);
    align-self: center;

    ul {
      @include list-bullet;
    }

    ol {
      @include list-number;
    }

  }

}