/*-----------------------------------------------------------------------------------*/
/* TEAM STYLING */
/*-----------------------------------------------------------------------------------*/

.team {
  background: var(--black);
  color: var(--white);
  padding: var(--space-y) var(--space-x);

  &__heading {
    padding: 0 0 4.5rem;
    margin: 0 0 6rem;
    border-bottom: 0.2rem solid var(--white);
    text-align: center;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    gap: $gap;
  }

}


/*-----------------------------------------------------------------------------------*/
/* MEMBER STYLING */
/*-----------------------------------------------------------------------------------*/

.member {
  color: var(--black);
  @include transition(all);

  &__anchor {
    position: absolute;
    top: -20rem; 
    left: 0;
  }

  &__body {
    background: var(--white);
    padding: var(--gutter-lg);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  [data-open] {
    cursor: pointer;
  }

  &__one {
    position: relative;
    height: auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  &__two {
    position: relative;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--gutter-sm) 0 0;

    @include media-up(sm) {
      padding: var(--gutter-lg) 0 0;
    }

  }

  &__three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--gutter-sm) 0 0;

    @include media-up(sm) {
      padding: var(--gutter-lg) 0 0;
    }

  }

  &__media {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      @include object-fit (cover);
      @include object-position (top);
      transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
  
      @include hover-focus {
        transform: scale(1.1);
      }
  
    }

  }

  &__heading {
    font-size: var(--h4);
    line-height: 1.2;
    margin: 0;
  }

  &__meta {
    list-style: none;
    padding-left: 0;

    li {
      margin: 0;

      &::marker {
        display: none;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }

    }

  }

  &__job {
    font-weight: var(--bold);
  }

  &__edit {
    display: block;
    margin: 2rem auto 0;
    width: fit-content;
  }

}

// <a class="btn btn--accent btn--space" href="<?php echo site_url() ?>/team/#joe-smith" onclick="window.open(this.href, '_self'); return false;">View Joe’s Profile</a>


/*-----------------------------------------------------------------------------------*/
/* SLIDEOUT STYLING */
/*-----------------------------------------------------------------------------------*/

html.js-slideout-active {
	overflow: hidden;
}

.slideout {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999999;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  }

  &__row {
    display: flex;
    height: 100%;
    justify-content: flex-end;
  }

  &__body {
    position: relative;
    display: block;
    width: 100%;
    max-width: 60rem;
    overflow-y: scroll;
    background: var(--white);
    padding: var(--gutter-md) var(--gutter-md) 6rem;
    z-index: 2;
    right: -100%;
    transition: right 0.7s cubic-bezier(0.5, 0, 0.5, 1);

    @include media-up(sm) {
      padding: var(--gutter-lg);
    }

  }

  &__media {
    max-width: 35rem;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 7 / 6;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      @include object-fit (cover);
      @include object-position (center);
    }

  }

  &__heading {
    color: var(--accent);
    margin-top: var(--gutter-sm);
  }

  &__meta {
    list-style: none;
    padding-left: 0;
    margin-bottom: $heading-margin-bottom-sm;

    @include media-up(md) {
      margin-bottom: $heading-margin-bottom-lg;
    }

    li {
      margin: 0;

      &::marker {
        display: none;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }

    }

  }

  &__job {
    font-weight: var(--bold);
  }

  &__close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background: var(--accent);
    background-image: $icon-close-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    // border-radius: 50%;
    border: 0;
    z-index: 1;
    transition: all .3s cubic-bezier(.5,0,.5,1);
    cursor: pointer;
  }

  &--open {
    visibility: visible;
    opacity: 1;

    .slideout {

      &__backdrop {
        visibility: visible;
        opacity: 0.8;
      }

      &__body {
        right: 0;
      }

    }

  }

}