wp-content/themes/package-lock.json
wp-content/themes/package.json
wp-content/themes/node_modules

# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
!wp-config.php

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/
wp-content/plugins/index.php
wp-content/plugins/classic-editor
wp-content/plugins/classic-widgets
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/wordpress-seo
wp-content/plugins/wp-migrate-db
wp-content/uploads/wp-migrate-db