.breadcrumb {
  font-weight: var(--regular);
  margin: 0 0 2rem;

  .icon--chevron {
    display: inline-block;
    background-image: $icon-chevron-right-black;           
    background-repeat: no-repeat;
    width: 2.2rem;
    aspect-ratio: 1 / 1;
  }

  a {
    font-weight: var(--regular);
    color: var(--black);

    @include hover {
      color: var(--accent);
    }

  }

}