.quicklinks {
  position: relative;
  padding-left: var(--space-x);
  padding-right: var(--space-x);

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &--white {
    background: var(--white);

    .section {

      .btn {
        @include btn-black;
      }

    }

  }

  &--accent {
    background: var(--accent);
    color: var(--white);

    .section {

      h2,
      h3,
      h4 {
        color: var(--white);
      }

      .btn {
        @include btn-white;
      }

    }

  }

  &--grey {
    background: var(--grey-light);

    .section {

      .btn {
        @include btn-black;
      }

    }

  }

  &:first-of-type {
    z-index: 1;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    gap: $gap;

    @include media-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

  }

}