hr {
  display: block;
  border-width: 0.2rem 0 0;
  border-style: solid;
  border-color: var(--accent);
  margin-top: var(--gutter-md);
  margin-bottom: var(--gutter-md);

  @include media-up(md) {
    margin-top: var(--gutter-lg);
    margin-bottom: var(--gutter-lg);
  }

}