@mixin object-fit ($object-fit) {
  -o-object-fit: $object-fit;
  object-fit: $object-fit;
}

@mixin object-position ($object-position) {
  -o-object-position: $object-position;
  object-position: $object-position;
}

@mixin box-shadow ($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}