/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$block-padding-sm: 2rem;
$block-padding-md: 4rem;
$block-padding-lg: 8rem;
$block-padding-xl: 8rem;

$block-breakpoint-tablet: sm;
$block-breakpoint-laptop: lg;
$block-breakpoint-desktop: xxl;


/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin block {
  padding: $block-padding-sm;

  @include media-up($block-breakpoint-tablet) {
    padding: $block-padding-md;
  }

  @include media-up($block-breakpoint-laptop) {
    padding: $block-padding-lg;
  }

  @include media-up($block-breakpoint-desktop) {
    padding: $block-padding-xl;
  }

}

.block {
  @include block;
}

@mixin direction($tag) {

  @if $tag == 'y' {
    padding-top: $block-padding-sm;
    padding-bottom: $block-padding-sm;

    @include media-up($block-breakpoint-tablet) {
      padding-top: $block-padding-md;
      padding-bottom: $block-padding-md;
    }

    @include media-up($block-breakpoint-laptop) {
      padding-top: $block-padding-lg;
      padding-bottom: $block-padding-lg;
    }

    @include media-up($block-breakpoint-desktop) {
      padding-top: $block-padding-xl;
      padding-bottom: $block-padding-xl;
    }

  }

  @if $tag == 'x' {
    padding-left: $block-padding-sm;
    padding-right: $block-padding-sm;

    @include media-up($block-breakpoint-tablet) {
      padding-left: $block-padding-md;
      padding-right: $block-padding-md;
    }

    @include media-up($block-breakpoint-laptop) {
      padding-left: $block-padding-lg;
      padding-right: $block-padding-lg;
    }

    @include media-up($block-breakpoint-desktop) {
      padding-left: $block-padding-xl;
      padding-right: $block-padding-xl;
    }

  }

  @if $tag == 'top' {
    padding-top: $block-padding-sm;

    @include media-up($block-breakpoint-tablet) {
      padding-top: $block-padding-md;
    }

    @include media-up($block-breakpoint-laptop) {
      padding-top: $block-padding-lg;
    }

    @include media-up($block-breakpoint-desktop) {
      padding-top: $block-padding-xl;
    }

  }

  @if $tag == 'bottom' {
    padding-bottom: $block-padding-sm;

    @include media-up($block-breakpoint-tablet) {
      padding-bottom: $block-padding-md;
    }

    @include media-up($block-breakpoint-laptop) {
      padding-bottom: $block-padding-lg;
    }

    @include media-up($block-breakpoint-desktop) {
      padding-bottom: $block-padding-xl;
    }

  }

  @if $tag == 'left' {
    padding-left: $block-padding-sm;

    @include media-up($block-breakpoint-tablet) {
      padding-left: $block-padding-md;
    }

    @include media-up($block-breakpoint-laptop) {
      padding-left: $block-padding-lg;
    }

    @include media-up($block-breakpoint-desktop) {
      padding-left: $block-padding-xl;
    }

  }

  @if $tag == 'right' {
    padding-right: $block-padding-sm;

    @include media-up($block-breakpoint-tablet) {
      padding-right: $block-padding-md;
    }

    @include media-up($block-breakpoint-laptop) {
      padding-right: $block-padding-lg;
    }

    @include media-up($block-breakpoint-desktop) {
      padding-right: $block-padding-xl;
    }

  }

}

$tags: x, y, top, bottom, right, left;

@each $tag in $tags {

  .block-#{$tag} {
    @include direction($tag);
  }

}