/*-----------------------------------------------------------------------------------*/
/* GLOBAL UTILITYS */
/*-----------------------------------------------------------------------------------*/

/* --------------------- TYPOGRATHY --------------------- */

@mixin fluid-type(
  $sm-font-size: $body-size-sm,
  $md-font-size: $body-size-lg,
  $lg-font-size: $body-size-lg,
  $md-breakpoint: map-get($breakpoint-widths, "md"),
  $lg-breakpoint: map-get($breakpoint-widths, "xxl")
) {

  font-size: $sm-font-size;

  @media (min-width: $md-breakpoint) {
    font-size: $md-font-size;
  }

  @media (min-width: $lg-breakpoint) {
    font-size: $lg-font-size;
  }

}


/* --------------------- PLACEHOLDER --------------------- */

@mixin placeholder {

  ::-webkit-input-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

}