/*-----------------------------------------------------------------------------------*/
/* CSS GLOBAL VARIABLES */
/*-----------------------------------------------------------------------------------*/

$white: #ffffff;
$black: #3A4145;
$grey: #ededed;
$grey-dark: #505050;
$grey-light: #f6f6f6;
$accent: #1171ae;
$accent-light: #73aed3;
$danger: #b81c23;

// lighten(map-get($colors, "blue"), 10%)

:root {

  /* --------- COLOURS --------- */

  --white: #ffffff;
  --black: #3A4145;
  --grey: #ededed;
  --grey-dark: #505050;
  --grey-light: #f6f6f6;
  --accent: #1171ae;
  --accent-light: #73aed3;
  --danger: #b81c23;


  /* --------- GLOBAL --------- */

  --body-font:  'Urbanist';

  --body-bg: var(--black);
  --main-bg: var(--white);
  
  --regular: 300;
  --medium: 500;
  --bold: 700;


  /* --------- FONT SIZE --------- */

  /* 576px (xs) 38px → 1550px (xxl) 55px */
  --size-h1: #{fluid(38px, 55px)};

  /* 576px (xs) 34px → 1550px (xxl) 45px */
  --size-h2: #{fluid(34px, 45px)};

  /* 576px (xs) 32px → 1550px (xxl) 40px */
  --size-h3: #{fluid(32px, 40px)};

  /* 576px (xs) 28px → 1550px (xxl) 35px */
  --size-h4: #{fluid(28px, 35px)};

  /* 576px (xs) 23px → 1550px (xxl) 30px */
  --size-h5: #{fluid(23px, 30px)};

  /* 576px (xs) 19px → 1550px (xxl) 26px */
  --size-h6: #{fluid(19px, 26px)};

  /* 576px (xs) 16px → 1550px (xxl) 19px */
  --body-size: #{fluid(16px, 19px)};


  /* --------- SPACING --------- */

  /* https://geary.co/clamp-calculator/ */

  /* 576px (xs) 40px → 1550px (xxl) 120px */
  --space-y: #{fluid(40px, 120px)};

  /* 576px (xs) 20px → 1550px (xxl) 120px */
  --space-x: #{fluid(20px, 120px)};

  --gutter-sm: 1rem;
  --negative-gutter-sm: -1rem;

  --gutter-md: 2rem;
  --negative-gutter-md: -2rem;

  --gutter-lg: 4rem;
  --negative-gutter-lg: -4rem;

}


/*-----------------------------------------------------------------------------------*/
/* SCSS GLOBAL VARIABLES */
/*-----------------------------------------------------------------------------------*/

$theme-name: ddl-v2;


/* --------- GUTTERS --------- */

$gutter-lg: var(--gutter-lg);
$gutter-md: var(--gutter-md);
$gutter-sm: var(--gutter-sm);


/* --------- MARGINS FOR IMAGES, FORMS, TABLES --------- */

$margin-top-lg:      var(--gutter-lg);
$margin-bottom-lg:   var(--gutter-lg);

$margin-top-md:      var(--gutter-md);
$margin-bottom-md:   var(--gutter-md);

$margin-top-sm:      var(--gutter-sm);
$margin-bottom-sm:   var(--gutter-sm);