$theme-name: observatory;

:root {

  /* --------- COLOURS --------- */

  --white: #ffffff;
  --black: #3A4145;
  --grey: #ededed;
  --grey-dark: #505050;
  --grey-light: #f6f6f6;
  --accent: #1171ae;
  // --accent-dark: #00b0ad;
  --accent-light: #73aed3;
  --danger: #b81c23;

  /* --------- GLOBAL --------- */

  --body-font: "itc-avant-garde-gothic-pro";
  
  --regular: 300;
  --medium: 500;
  --bold: 700;

}