/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

/* --------- USED IN NAVIGATION UL UL AND MAIN --------- */

$header-height-lg: 12.2rem;
$header-height-sm: 8.8rem;

$header-height-lg-sticky: 12.3rem;

$nav-breakpoint: md;
$nav-width-sm: 30rem;


/*-----------------------------------------------------------------------------------*/
/* HEADER */
/*-----------------------------------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 9999;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @include block-p(x);
  background: var(--white);
  box-shadow: 0 0 2rem rgb(0 0 0 / 30%);
}


/*-----------------------------------------------------------------------------------*/
/* LOGO */
/*-----------------------------------------------------------------------------------*/

.logo {
  width: 28rem;

  img {
    width: 100%;
  }

}