/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use "sass:math";
@use "sass:map";

@use 'abstracts/functions' as *;


/*-----------------------------------------------------------------------------------*/
/* CSS GLOBAL VARIABLES */
/*-----------------------------------------------------------------------------------*/

:root {

  /* --------- COLOURS --------- */

  --white:          #ffffff;
  --black:          #3A4145;
  --grey:           #cccccc;
  --grey-dark:      #606060;
  --grey-light:     #f6f6f6;
  --accent:         #BA8E6D;
  --danger:         #b81c23;

  /* --------- FONT STYLES --------- */

  --body-font:        'gravita-geo-variable';
  --header-font:      'gravita-geo-variable';

  --body-bg:          var(--white);
  --main-bg:          var(--black);

  --body-color:       var(--black);
  
  --regular:          400; //regular
  --bold:             519.04762; //medium

  --body-weight:      var(--regular);

  --letter-spacing:   0.02rem;
  --line-height:      1.4;


  /* --------------------- PARAGRAPH --------------------- */

  --paragraph-top-sm:     1rem;
  --paragraph-bottom-sm:  1.5rem;
  
  --paragraph-top-lg:     1rem;
  --paragraph-bottom-lg:  2rem;


  /* --------- HEADINGS --------- */

  --heading-letter-spacing:   0.02rem;
  --heading-line-height:      1.2;

  --heading-weight:           var(--regular);
  --h1-weight:                var(--bold);
  --h2-weight:                var(--regular);
  --h3-weight:                var(--regular);

  --heading-top-sm:      1rem;
  --heading-bottom-sm:   2rem;
  
  --heading-top-lg:      2rem;
  --heading-bottom-lg:   2.5rem;


  /* --------- LINK STYLES --------- */

  --link-color:       var(--accent);
  --link-color-hover: var(--black);
  --link-weight:      var(--bold);


  /* --------- FONT SIZES --------- */

  --h1:               #{fluid(35px, 58px)};
  --h2:               #{fluid(24px, 40px)};
  --h3:               #{fluid(22px, 36px)};
  --h4:               #{fluid(20px, 32px)};
  --h5:               #{fluid(19px, 26px)};
  --h6:               #{fluid(17px, 22px)};
  --body-size:        #{fluid(14px, 20px)};


  /* --------- SPACING --------- */

  --space-y:          #{fluid(30px, 75px)};
  --space-x:          #{fluid(25px, 70px)};
  --space-gutter:     #{fluid(25px, 50px)};


  /* --------- FORM --------- */

  --input-font-size:  #{fluid(14px, 16px)};
  --input-weight:     var(--regular);
  --input-radius:     0.3rem;

}


/*-----------------------------------------------------------------------------------*/
/* SCSS GLOBAL VARIABLES */
/*-----------------------------------------------------------------------------------*/

$theme-name: ddl-theme;

/* --------- COLOURS --------- */

$white:             #ffffff;
$black:             #3E3E47;
$grey:              #CCCCCC;
$grey-dark:         #505050;
$grey-light:        #f6f6f6;
$accent:            #BA8E6D;
$danger:            #b81c23;
$star:              #edb406;


/* --------- USED IN NAVIGATION UL UL AND MAIN --------- */

$nav-breakpoint:      lg;
$nav-width-sm:        30rem;


/* --------- USED FOR GRID & FIXED --------- */

$max-width:           140rem;
$max-segment-width:   70rem;
$gap:                 #{fluid(10px, 30px)};
$nav-gap:             #{fluid(10px, 40px)};


/* --------- LISTS --------- */

$list-indent:         2rem;
$list-gutter:         0.5rem;
$list-bullet-size:    0.6rem;
$list-bullet-color:   var(--accent);
$list-number-weight:  var(--bold);
$list-inline-gap:     $gap;


/* --------- ICON DataURL --------- */

$icon-close-black:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z'/%3E%3C/svg%3E");
$icon-close-white:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z'/%3E%3C/svg%3E");

$icon-plus-black:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z'/%3E%3C/svg%3E");
$icon-plus-white:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z'/%3E%3C/svg%3E");

$icon-minus-black:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M5 11V13H19V11H5Z'/%3E%3C/svg%3E");
$icon-minus-white:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M5 11V13H19V11H5Z'/%3E%3C/svg%3E");

$icon-chevron-up-black:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M12,10L2.7,19.3,0,16.7,12,4.7l12,12-2.7,2.7-9.3-9.3Z'/%3E%3C/svg%3E");
$icon-chevron-up-white:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M12,10L2.7,19.3,0,16.7,12,4.7l12,12-2.7,2.7-9.3-9.3Z'/%3E%3C/svg%3E");

$icon-chevron-down-black:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M12,14l9.3-9.3,2.7,2.7-12,12L0,7.3l2.7-2.7,9.3,9.3Z'/%3E%3C/svg%3E");
$icon-chevron-down-white:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M12,14l9.3-9.3,2.7,2.7-12,12L0,7.3l2.7-2.7,9.3,9.3Z'/%3E%3C/svg%3E");

$icon-chevron-right-black:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M14,12L4.7,2.7,7.3,0l12,12-12,12-2.7-2.7,9.3-9.3Z'/%3E%3C/svg%3E");
$icon-chevron-right-white:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M14,12L4.7,2.7,7.3,0l12,12-12,12-2.7-2.7,9.3-9.3Z'/%3E%3C/svg%3E");

$icon-arrow-white:      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M18.3,10.5L10.2,2.5,12.3.3l11.7,11.7-11.7,11.7-2.1-2.1,8-8H0v-3h18.3Z'/%3E%3C/svg%3E");
$icon-arrow-black:      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M18.3,10.5L10.2,2.5,12.3.3l11.7,11.7-11.7,11.7-2.1-2.1,8-8H0v-3h18.3Z'/%3E%3C/svg%3E");
$icon-arrow-accent:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23016775' %3E%3Cpath d='M18.3,10.5L10.2,2.5,12.3.3l11.7,11.7-11.7,11.7-2.1-2.1,8-8H0v-3h18.3Z'/%3E%3C/svg%3E");

$icon-tick-black:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%233A4145' %3E%3Cpath d='M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z'/%3E%3C/svg%3E");
$icon-tick-white:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' fill='%23ffffff' %3E%3Cpath d='M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z'/%3E%3C/svg%3E");