/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

/* --------- FOOTER TOP --------- */

.footer {
  position: relative;
  color: $color-white;
  background-color: $body-background; //set in root.scss line 48

  &__outer {
    @include cell-fixed;
    @include block-y;

    &__row {
      @include cell-row;
      @include cell-row-gutter;
      justify-content: space-between;  
    }

  }

  &__inner {
    @include cell;
    @include cell-span(12);
    @include cell-gutter;
    text-align: center;
  
    &__row {
      @include cell-row;
      @include cell-row-gutter;
    }
  
  }

  &__one {
    @include cell;
    @include cell-gutter;
    @include cell-span(3);
  }

  &__two {
    @include cell;
    @include cell-gutter;
    @include cell-span(3);
  }

  &__three {
    @include cell;
    @include cell-gutter;
    @include cell-span(3);
  }

}


/* --------- FOOTER BOTTOM --------- */

.copyright {
  position: relative;
  color: $color-grey-dark;
  font-size: 1.4rem;
  border-top: 0.1rem solid $color-grey-dark;
  padding-top: 30px;
  padding-bottom: 30px;

  a {
    font-weight: $weight-regular;
    color: $color-grey-dark;
    transition: all 0.3s ease-out;

    @include hover-focus {
      color: $color-grey-light;
    }

  }

  ul {
    @include list-inline;

    li {
  
      &:not(:last-child)::after {
        margin-left: 1rem;
        content: '|';
      }
  
    }

  }

  &__outer {
    @include cell-fixed;

    &__row {
      @include cell-row;
      @include cell-row-gutter;  
    }

  }

  &__one {
    @include cell;
    @include cell-gutter;
    @include cell-span(0);
  }

  &__two {
    @include cell;
    @include cell-gutter;
    @include cell-span(0);
    text-align: right;
  }

}