/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

/* --------- USED IN NAVIGATION UL UL AND MAIN --------- */

$header-height-lg: 12.3rem;
$header-height-lg-sticky: 12.3rem;

$header-height-sm: 8.8rem;


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 9999;
  width: 100%;
  background: $color-brand;
  color: $color-white;
  // @include transition(box-shadow 0.3s ease-out);

  &__outer {
    @include cell-fixed;
    @include transition(all 0.3s ease-out);
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-up(lg) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &__row {
      @include cell-row;
      @include flex-items(center);
      @include flex-content-x(space-between);  
    }

  }

  &__one {
    @include cell;
    @include cell-span(4);
    text-align: left;
  }

  &__two {
    @include cell;
    @include cell-span(0);
    text-align: center;
  }

  &__three {
    @include cell;
    @include cell-span(4);
    text-align: right;
  }

  a {
    font-weight: 400;
    color: $color-grey-200;
    @include transition(all 0.3s ease-out);

    @include hover-focus {
      color: $color-white;
    }

    i {
      margin-right: 0.4rem;
      vertical-align: middle;
    }

  }

  // &.sticky {
  //   @include box-shadow (0 0 20px -10px rgba($color-black,0.75));
  // }

}


/* --------- HEADER LOGO --------- */

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 14rem;
  
  @include media-up(md) {
    width: 15rem;
  }

  @include media-up(lg) {
    width: 17rem;
  }

}


/* --------- HEADER STICKY --------- */

.sticky {

  .logo {
  
    @include media-up(md) {
      width: 14rem;
    }

    @include media-up(lg) {
      width: 16rem;
    }

  }

}