/*-----------------------------------------------------------------------------------*/
/* GLOBAL TEMPLATES */
/*-----------------------------------------------------------------------------------*/

/* --------- GENERIC COMPONANT --------- */

.block {
  @include block;
}

.block-y {
  @include block-y;
}

.block-x {
  @include block-x;
}

.block-top {
  @include block-left;
}

.block-bottom {
  @include block-left;
}

.block-left {
  @include block-left;
}

.block-right {
  @include block-left;
}


/* --------- COMPONANT OUTER WRAPPER (FIXED WIDTHS) --------- */

.outer {
  @include cell-fixed;

  &__row {
    @include cell-row;
    @include flex-content-x(center);
  }

}


/* --------- COMPONANT INNER WRAPPER INNER (REDUCE CONTENT WIDTH) --------- */

.inner {
  @include cell;
  @include cell-span(12);

  @include media-up(xl) {
    @include cell-span(10);
  }

  &__row {
    @include cell-row;
  }

}


/* --------- TITLE (USED FOR COMPONANT HEADINGS) --------- */

.title {
  @include cell;
  @include cell-span(12);
  padding-bottom: 4rem;

  &__heading {
    @include h2;
  }

  &__subheading {
    @include h4;
    margin-top: 2rem;
  }

}


/* --------- Card (USED FOR A LOOP OF POSTS, SERVICES ETC...) --------- */

$card-padding-x:        3rem;
$card-padding-y:        3rem;
$card-background:       $color-white;
$card-img-height:       20rem;

.card {
  @include cell;
  @include cell-span(12);
  padding-top: $gutter;
  padding-bottom: $gutter;

  @include media-up(sm) {
    @include cell-span(6);
  }

  @include media-up(lg) {
    @include cell-span(4);
  }

  &__row {
    @include cell-row;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: $card-background;
  }

  &__body {
    position: relative;
    display: block;
  }
    
  &__figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $card-img-height;
    width: 100%;
  }

  &__img {
    display: none;
  }

  &__text {
    padding: $card-padding-y $card-padding-x;
  }

  &__footer {
    display: block;
    padding: 0 $card-padding-x $card-padding-y;
  }

}