/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$heading-font:               inherit;
$heading-line-height:        1.2;
$heading-font-weight:        inherit;
$heading-color:              inherit;
$heading-case:               inherit;
$heading-spacing:            0;
$heading-margin-top-lg:      2.5rem;
$heading-margin-bottom-lg:   1.5rem;
$heading-margin-top-sm:      2rem;
$heading-margin-bottom-sm:   1rem;

$heading-1-size-lg:          6.8rem;
$heading-1-size-md:          6.5rem;
$heading-1-size-sm:          5.4rem;

$heading-2-size-lg:          5.3rem;
$heading-2-size-md:          4.8rem;
$heading-2-size-sm:          4.3rem;

$heading-3-size-lg:          4rem;
$heading-3-size-md:          3.5rem;
$heading-3-size-sm:          2.8rem;

$heading-4-size-lg:          3rem;
$heading-4-size-md:          2.6rem;
$heading-4-size-sm:          2rem;

$heading-5-size-lg:          2.2rem;
$heading-5-size-md:          1.9rem;
$heading-5-size-sm:          1.6rem;

$heading-6-size-lg:          $body-size-lg;
$heading-6-size-md:          $body-size-lg;
$heading-6-size-sm:          $body-size-sm;


/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin h1 {
  @include fluid-type($heading-1-size-sm, $heading-1-size-md, $heading-1-size-lg);
}

@mixin h2 {
  @include fluid-type($heading-2-size-sm, $heading-2-size-md, $heading-2-size-lg);
}

@mixin h3 {
  @include fluid-type($heading-3-size-sm, $heading-3-size-md, $heading-3-size-lg);
}

@mixin h4 {
  @include fluid-type($heading-4-size-sm, $heading-4-size-md, $heading-4-size-lg);
}

@mixin h5 {
  @include fluid-type($heading-5-size-sm, $heading-5-size-md, $heading-5-size-lg);
}

@mixin h6 {
  @include fluid-type($heading-6-size-sm, $heading-6-size-md, $heading-6-size-lg);
}


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: inherit;
  text-transform: $heading-case;
  letter-spacing: $heading-spacing;
  margin-top: $heading-margin-top-sm;
  margin-bottom: $heading-margin-bottom-sm;

  @include media-up(md) {
    margin-top: $heading-margin-top-lg;
    margin-bottom: $heading-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

h1, .h1 { 
  @include h1;
}

h2, .h2 { 
  @include h2;
}

h3, .h3 { 
  @include h3;
}

h4, .h4 { 
  @include h4;
}

h5, .h5 { 
  @include h5;
}

h6, .h6 { 
  @include h6;
}