/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$paragraph-margin-top-lg:     1.5rem;
$paragraph-margin-bottom-lg:  1.5rem;
$paragraph-margin-top-sm:     1rem;
$paragraph-margin-bottom-sm:  1rem;


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

p {
  margin-top: $paragraph-margin-top-sm;
  margin-bottom: $paragraph-margin-bottom-sm;

  @include media-up(md) {
    margin-top: $paragraph-margin-top-lg;
    margin-bottom: $paragraph-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}