/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'abstracts/functions' as *;
@use 'abstracts/utility' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/media' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

@mixin btn-black {
  color: var(--white);
  background: transparent;
  border-color: var(--black);

  @include hover {
    color: var(--white);
    background: var(--black);
    border-color: var(--black);
  }

}

@mixin btn-white {
  color: var(--white);
  background: transparent;
  border-color: var(--white);

  @include hover {
    color: var(--black);
    background: var(--white);
    border-color: var(--white);
  }

}

@mixin btn-accent {
  color: var(--black);
  background: transparent;
  border-color: var(--accent);

  @include hover {
    color: var(--white);
    background: var(--accent);
    border-color: var(--accent);
  }

  &:focus-visible {
    color: var(--white);
    background: var(--accent);
    border-color: var(--accent);
  }

}

@mixin btn-accent-wo {
  color: var(--white);
  background: transparent;
  border-color: var(--accent);

  @include hover {
    color: var(--white);
    background: var(--accent);
    border-color: var(--accent);

    &.btn--arrow {
  
      &::after {
        background-image: $icon-arrow-accent;
      }

    }

  }

  &:focus-visible {
    border-color: var(--grey);
  }

}

@mixin btn {
  display: block;
  cursor: pointer;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  font-variation-settings: "wght" var(--bold);
  line-height: 1.2;
  background-color: transparent;
  border-width: 0.3rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 50rem;
  padding: 1.2rem 3rem 1.4rem;
  width: 100%;

  @include media-up(xs) {
    width: fit-content;
  }

  @include media-up(xxl) {
    padding: 1.2rem 4rem 1.4rem;
  }

  &--black {
    @include btn-black;
  }

  &--white {
    @include btn-white;
  }

  &--accent {
    @include btn-accent;
  }

  &--accent-wo {
    @include btn-accent-wo;
  }

  &--submit {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-down(md) {
      margin-top: 1rem;
    }

    .btn__sending {
      display: none;

      .icon {
        margin: 0 0 0 0.5rem;
        @include animation (loaderSpin 2s linear infinite);

        svg {
          fill: var(--white);
        }

      }

    }

  }

  &--sending {
    cursor: not-allowed;
    color: var(--white) !important;
    background: var(--accent) !important;
    border-color: var(--accent) !important;
    opacity: 0.5;

    @include hover {
      color: var(--white) !important;
      background: var(--accent) !important;
      border-color: var(--accent) !important;
    }

    .btn__sending {
      display: block;
    }

    .btn__text {
      display: none;
    }

  }

  &--arrow {
    display: flex;
    align-items: center;

    &::after {
      position: relative;
      right: 0;
      display: block;
      content: '';
      background-image: $icon-arrow-white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      aspect-ratio: 1 / 1;
      width: 1.3rem;
      margin: 0 0 0 1.3rem;
      transition: right .3s cubic-bezier(.5,0,.5,1), background-image .3s cubic-bezier(.5,0,.5,1);

      @include media-up(sm) {
        width: 1.8rem;
        margin: 0 0 0 1.5rem;
      }

    }

    @include hover {

      &::after {
        right: -0.4rem;

        @include media-up(sm) {
          right: -0.8rem;
        }

      }

    }

  }

  &--radio {
    display: block !important;
    padding: 0 !important;
    border: 0 !important;

    input[type="radio"] {
      display: none;

      + label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.3rem;
        font-weight: var(--btn-weight) !important;
        padding: 1rem 2.5rem 1.05rem;
        margin: 0 !important;
        color: var(--white);
        background: transparent;
        border-color: var(--accent);
        border-width: 0.3rem;
        border-style: solid;
        border-radius: 5rem;
        cursor: pointer;
        white-space: nowrap;
  
        .icon {
          aspect-ratio: 1 / 1;
          width: 1.6rem;
          display: none;
          margin: 0 0.2rem 0 0;
          @include transition(all);
  
          svg {
            fill: var(--white);
          }
  
        }

        &:focus-visible {
          border-color: var(--grey);
        }
  
      }

      &:checked + label {
        color: var(--white);
        background: var(--accent);
        border-color: var(--accent);

        .icon {
          display: inline-block;
        }

      }

    }

  }

  &--edit {
    color: var(--black);
    background: var(--grey);
    border-color: var(--grey);
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0;
    z-index: 9999;
    padding: 1.6rem 2.5rem 1.5rem;

    @include hover-focus {
      color: var(--black);
      background: var(--white);
      border-color: var(--grey);
    }

  }

  &--space {
    margin-top: 3rem;

    @include media-up(md) {
      margin-top: 4rem;
    }

  }

}

.btn {
  @include btn;
}