hr {
  display: block;
  border-width: 0.2rem 0 0;
  border-style: solid;
  border-color: var(--blue);
  margin-top: $margin-top-md;
  margin-bottom: $margin-bottom-md;

  @include media-up(md) {
    margin-top: $margin-top-lg;
    margin-bottom: $margin-bottom-lg;
  }

}