.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &--cross {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--plus {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--minus {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--arrow {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--chevron {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--heart {
    width: 2rem;
    aspect-ratio: 1 / 1;
  }

  &--facebook {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--instagram {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--tiktok {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--whatsapp {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--twitter {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--pin {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--tel {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--mail {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--calendar {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--clock {
    width: 3rem;
    aspect-ratio: 1 / 1;
  }

  &--loader {
    width: 2rem;
    aspect-ratio: 1 / 1;
  }

}