/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'sass:color';
@use "sass:map";

@use 'abstracts/variables' as *;
// @use 'abstracts/utility' as *;
@use 'abstracts/media' as *;


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

html {
  font-size: 62.5%; //setting rem to match px
  line-height: 1.5;
  overflow-x: hidden;
  box-sizing: border-box;

  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // scroll-behavior: smooth;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  // -ms-text-size-adjust: 100%;
  // -ms-overflow-style: scrollbar;

}

*,
:after,
:before {
  box-sizing: inherit; 
}

* {
  padding: 0;
  margin: 0;
}

@-ms-viewport {
  width: device-width;
}

span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, canvas, embed, video {
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--body-font);
  font-size: var(--body-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-variation-settings: "wght" var(--body-weight);
  font-optical-sizing: auto;
  color: var(--body-color);
  background: var(--body-bg);
  text-align: left;
  text-wrap: pretty;
  
  @include media-down(md) { 
    overflow-x: hidden;
  }

}

*:focus {
	outline: none;
  outline: 0;
  outline: -webkit-focus-ring-color 0;
  border-color: inherit;
  box-shadow: none;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

:focus:not(:focus-visible) {
  outline: none;
}

[hidden] {
  display: none !important;
}

article, 
aside, 
dialog, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section, 
div {
  display: block;
}

blockquote {
  margin: 0;
}

blockquote, q {
  quotes: none;

  &:before, &:after {
    content: '';
    content: none;
  }

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

caption {
  display: table-caption;
  text-align: inherit;
}

small {
  display: inline-block;
  font-size: 70%;
}

a:active, 
a:hover {
  outline-width: 0
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

[disabled] {
  cursor: default
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

textarea {
  overflow: auto;
  resize: vertical
}

button, 
input, 
optgroup, 
select, 
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  border: 0;
  background: transparent;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none
}

select {
  -moz-appearance: none;
  -webkit-appearance: none
}

select::-ms-expand {
  display: none
}

select::-ms-value {
  color: currentColor
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

strong {
  font-variation-settings: "wght" var(--bold);
}

strong > a {
  font-variation-settings: "wght" var(--bold);
}

address {
  font-style: normal;
}

ul {
  list-style: disc;
}

ul,
ol {
  list-style-position: inside;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

li {
  margin: 0;
}

dt {
  font-variation-settings: "wght" var(--bold);
}

dl,
dd {
  margin: 0;
}

dl dd + dt {
  margin-top: 1rem;
}

i {
  font-style: normal;
}

sub,
sup {
  position: relative;
  font-size: 80%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen {
  [hidden~=screen] {
    display: inherit
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute!important;
    clip: rect(0 0 0 0)!important
  }
}

[aria-busy=true] {
  cursor: progress
}

[aria-controls] {
  cursor: pointer
}

[aria-disabled] {
  cursor: default
}

::selection {
  background-color: var(--grey);
  color: var(--black);
}

a,
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    outline-width: 0;
    background-color: transparent;
  }

  &:focus {
    outline: 0;
  }

}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

a[href^="tel"] {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
button,
input,
.btn--radio input[type=radio] + label {

  &:focus-visible {
    outline: 0.1rem dotted var(--grey);
    text-decoration: none;
    outline-offset: 0.1rem;
  }

}