/*-----------------------------------------------------------------------------------*/
/* MODULES */
/*-----------------------------------------------------------------------------------*/

@use 'sass:color';
@use "sass:map";

@use 'abstracts/variables' as *;
@use 'abstracts/utility' as *;
@use 'abstracts/media' as *;


/*-----------------------------------------------------------------------------------*/
/* PARAGRAPH */
/*-----------------------------------------------------------------------------------*/

p {
  margin-block: var(--paragraph-margin-block-fb);
  margin-block: var(--paragraph-margin-block);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}


/*-----------------------------------------------------------------------------------*/
/* HEADINGS */
/*-----------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-variation-settings: "wght" var(--heading-weight);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  color: inherit;
  margin-block-start: var(--heading-margin-block-start-fb); //fallback
  margin-block-end: var(--heading-margin-block-end-fb); //fallback
  margin-block-start: var(--heading-margin-block-start);
  margin-block-end: var(--heading-margin-block-end);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  strong {
    color: var(--accent);
    font-variation-settings: "wght" var(--heading-weight);
  }

}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}


/*-----------------------------------------------------------------------------------*/
/* LINKS */
/*-----------------------------------------------------------------------------------*/


a,
button,
span.btn {
  @include transition(all);
}

p {

  a,
  a[href^=tel],
  button {

    &:not(.btn) {
      color: var(--link-color);
      font-variation-settings: "wght" var(--link-weight);
      @include transition(all);
    
      @include hover {
        color: var(--link-color-hover);
      }

    }

  }

}


/*-----------------------------------------------------------------------------------*/
/* LISTS */
/*-----------------------------------------------------------------------------------*/

ul:not(.list--exempt),
ol:not(.list--exempt) {
  margin-block: var(--paragraph-margin-block-fb);
  margin-block: var(--paragraph-margin-block);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
  
}