.banner {
  position: relative;
  background: var(--grey-light);

  img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    @include object-fit(cover);
  }

  img {
    @include object-position(center);
  }

  video {
    @include object-position(center);
  }

  &__intro {
    font-size: var(--size-h5);
    margin: 0;
  }

  &__meta {
    list-style: none;
    margin: 0;
  }
  
  &__categories {
    list-style: none;
    margin: 0;
  }

  &__date {
    font-size: 85%;
  }

}