.banner {
  position: relative;
  background: var(--grey-light);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    @include object-fit (cover);
    @include object-position(top);
  }

  &__intro {
    @include fluid-type(1.7rem, 1.8rem, 2rem);
  }

}