.split {
  background: var(--white);
  @include space-p(x);

  &--dark {
    background: var(--grey-dark);
    color: var(--white);
  }

  &--top {
    padding-top: var(--space-y);
  }

  &--bottom {
    padding-bottom: var(--space-y);
  }

  &:first-of-type {
    position: relative;
    z-index: 1;
  }

  &--left {

    .split {

      &__one {

        @include media-up(lg) {
          @include space-p(right);
        }

      }

    }

  }

  &--right {

    .split {

      &__row {

        @include media-up(lg) {
          flex-direction: row-reverse;
        }

      }

      &__one {

        @include media-up(lg) {
          @include space-p(left);
        }

      }

    }

  }

  &__row {
    @include cell-row;
  }

  &__one {
    position: relative;
    @include cell(12);

    @include media-up(lg) {
      @include cell(0);
    }

    @include media-down(lg) {
      @include space-p(top);
    }

  }

  &__two {
    @include cell(12);
    align-self: center;

    @include media-up(lg) {
      @include cell(6);
    }

  }

  &__body {
    position: relative;
    @include cell(12);
  }

  &__two,
  &__body {

    ul {
      @include list-bullet;
    }

    ol {
      @include list-number;
    }

  }

  &__media {
    position: relative;
    height: 45vw;
    z-index: 1;

    @include media-up(lg) {
      position: sticky;
      top: 12vw;
      height: 45rem;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      @include object-position(center);
  
      @include media-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
      }
  
    }

    &--cover {
      
      img {
        @include object-fit (cover);
      }

    }

    &--contain {
      
      img {
        @include object-fit (contain);
      }

    }

    &--video {
      
      img {
        @include object-fit (cover);
      }

    }

  }

}