.sticky {
  background: var(--white);
  @include block-p(y);
  @include block-p(x);

  &:first-of-type {
    position: relative;
    z-index: 1;
  }

  &--left {

    .sticky {

      &__one {
        order: 2;

        @include media-down(lg) {
          @include block-p(top);
        }

        @include media-up(lg) {
          @include block-p(right);
          order: 1;
        }

        &::after,
        &::before {
          right: 0;
        }

      }

      &__two {
        order: 1;

        @include media-up(lg) {
          order: 2;
        }

      }

    }

  }

  &--right {

    .sticky {

      &__one {
        order: 2;

        @include media-down(lg) {
          @include block-p(top);
        }

        @include media-up(lg) {
          @include block-p(left);
        }

        &::after,
        &::before {
          left: 0;
        }

      }

      &__two {
        order: 1;
      }

    }

  }

  &__row {
    @include cell-row;
  }

  &--top {
    padding-top: 0;

    .sticky__row {
      border-top: 0.2rem solid var(--grey);
      @include block-p(top);
    }

  }

  &--bottom {
    padding-bottom: 0;

    .sticky__row {
      border-bottom: 0.2rem solid var(--grey);
      @include block-p(bottom);
    }

  }

  &__one {
    position: relative;
    @include cell(12);

    // @include media-down(lg) {
    //   max-height: 50vw;
    // }

    // @include media-down(md) {
    //   max-height: 45vw;
    // }

    @include media-up(lg) {
      @include cell(0);
    }

  }

  &__two {
    font-weight: var(--medium);
    @include cell(12);
    align-self: center;

    @include media-up(lg) {
      @include cell(7);
    }

    @include media-up(xl) {
      @include cell(8);
    }

    ul {
      @include list-bullet;
    }

    ol {
      @include list-number;
    }

  }

  &__media {
    position: relative;
    height: 45vw;
    z-index: 1;

    @include media-up(lg) {
      position: sticky;
      top: 12vw;
      height: 45rem;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: var(--accent);
      opacity: 0.4;
      z-index: 1;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      @include object-fit (cover);
      @include object-position(center);
  
      @include media-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
      }
  
    }

  }

}