/*-----------------------------------------------------------------------------------*/
/* TEAM STYLING */
/*-----------------------------------------------------------------------------------*/

.team {
  background: var(--black);
  @include space-p(x);
  @include space-p(y);

  &__inner {
    @include cell(12);
  }

  &__heading {
    color: var(--white);
    margin-bottom: 6rem;
  }

  &__list {
    list-style: none;
    
    @include cell-row;
    @include cell-row-gutter-x-sm;
    @include cell-row-gutter-y-sm;

    @include media-up(sm) {
      @include cell-row-gutter-x;
    @include cell-row-gutter-y;
    }

  }

}


/*-----------------------------------------------------------------------------------*/
/* MEMBER STYLING */
/*-----------------------------------------------------------------------------------*/

.member {
  @include cell(12);
  @include cell-gutter-y-sm;
  @include cell-gutter-x-sm;
  @include transition(all);

  @include media-up(sm) {
    @include cell(6);
    @include cell-gutter-y;
    @include cell-gutter-x;
  }

  @include media-up(lg) {
    @include cell(4);
  }

  // @include media-up(xxl) {
  //   @include cell(3);
  // }

  &__body {
    background: var(--white);
    padding: var(--gutter-lg);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  [data-open] {
    cursor: pointer;
  }

  &__row {
    @include cell-row;
    flex-direction: column;
  }

  &__one,
  &__two {
    @include cell(12);
  }

  &__one {
    position: relative;
    width: 100%;
    height: auto;
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  &__two {
    width: 100%;
    flex: 1 0 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;

    @include media-up(sm) {
      padding: 4rem;
    }

  }

  // &__one {
  //   padding-bottom: 2.5rem;

  //   @include media-up(sm) {
  //     padding-bottom: 4rem;
  //   }

  // }

  // &__two {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }

  &__media {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include object-fit (cover);
      @include object-position (top);
      transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
  
      @include hover-focus {
        transform: scale(1.1);
      }
  
    }

  }

  

  // &__img {
  //   width: 100%;
  //   height: 100%;
  //   @include object-fit (cover);
  //   @include object-position (center);
  // }

  // &__heading {
  //   color: var(--white);
  //   font-size: var(--size-h4);
  //   line-height: 1.2;
  // }

  &__job {
    display: block;
    font-weight: var(--bold);
    margin: 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__edit {
    display: block;
    margin: 2rem auto 0;
    width: fit-content;
  }

  // .btn {
  //   margin-top: var(--gutter-md);

  //   @include media-up(md) {
  //     margin-top: var(--gutter-lg);
  //   }

  // }

}

// <a class="btn btn--accent btn--space" href="<?php echo site_url() ?>/team/#joe-smith" onclick="window.open(this.href, '_self'); return false;">View Joe’s Profile</a>


/*-----------------------------------------------------------------------------------*/
/* SLIDEOUT STYLING */
/*-----------------------------------------------------------------------------------*/

html.slideout-active {
	overflow: hidden;
}

.slideout {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999999;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  }

  &__row {
    display: flex;
    height: 100%;
    justify-content: flex-end;
  }

  &__body {
    position: relative;
    display: block;
    width: 100%;
    max-width: 60rem;
    overflow-y: scroll;
    background: var(--white);
    padding: var(--gutter-md);
    z-index: 2;
    right: -100%;
    transition: right 0.7s cubic-bezier(0.5, 0, 0.5, 1);

    @include media-up(sm) {
      padding: var(--gutter-lg);
    }

  }

  &__media {
    max-width: 35rem;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 7 / 6;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include object-fit (cover);
      @include object-position (center);
    }

  }

  &__meta {
    margin-bottom: 3rem;
  }

  &__job {
    color: var(--accent);
  }

  &__close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background: var(--accent);
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 352 512' style='enable-background:new 0 0 352 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D%0A%3C/style%3E%3Cpath class='st0' d='M242.7,256l100.1-100.1c12.3-12.3,12.3-32.2,0-44.5l-22.2-22.2c-12.3-12.3-32.2-12.3-44.5,0L176,189.3 L75.9,89.2c-12.3-12.3-32.2-12.3-44.5,0L9.2,111.4c-12.3,12.3-12.3,32.2,0,44.5L109.3,256L9.2,356.1c-12.3,12.3-12.3,32.2,0,44.5 l22.2,22.2c12.3,12.3,32.2,12.3,44.5,0L176,322.7l100.1,100.1c12.3,12.3,32.2,12.3,44.5,0l22.2-22.2c12.3-12.3,12.3-32.2,0-44.5 L242.7,256z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    // border-radius: 50%;
    border: 0;
    z-index: 1;
    transition: all .3s cubic-bezier(.5,0,.5,1);
    cursor: pointer;
  }

  &.active {
    visibility: visible;
    opacity: 1;

    .slideout {

      &__backdrop {
        visibility: visible;
        opacity: 0.8;
      }

      &__body {
        right: 0;
      }

    }

  }

}