/* --------------------- MIXINS --------------------- */

@mixin btn {
  display: block;
  cursor: pointer;
  text-align: center;
  @include user-select(none);
  vertical-align: middle;
  font-size: #{fluid(16px, 18px)};
  font-weight: var(--medium);
  line-height: 1.3;
  background-color: transparent;
  border-width: 0.3rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  padding: 1.6rem 2.5rem 1.5rem;
  width: 100%;
  @include transition(all);

  @include media-up(xs) {
    width: fit-content;
  }

  @include media-up(xl) {
    padding: 1.8rem 3rem 1.7rem;
  }

  &--lg {
    font-size: #{fluid(17px, 20px)};
  }

  &--edit {
    color: var(--white);
    background: var(--grey-dark);
    border-color: var(--grey-dark);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 2rem 2.5rem 1.5rem;

    @include hover-focus {
      color: var(--grey-dark);
      background: var(--white);
      border-color: var(--grey-dark);
    }

  }

  &--black {
    color: var(--white);
    background: var(--black);
    border-color: var(--black);

    @include hover-focus {
      color: var(--black);
      background: transparent;
      border-color: var(--black);
    }

  }

  &--accent {
    color: var(--white);
    background: var(--accent);
    border-color: var(--accent);

    @include hover-focus {
      color: var(--black);
      background: transparent;
      border-color: var(--accent);
    }

  }

  &--space {
    margin-top: $margin-top-md;
    margin-bottom: $margin-bottom-md;

    @include media-up(md) {
      margin-top: $margin-top-lg;
      margin-bottom: $margin-bottom-lg;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &--inline {
    display: inline-block;
    margin-top: $margin-top-sm;

    @include media-up(md) {
      margin-top: $margin-top-lg;
    }

    &:not(:last-child) {
      margin-right: var(--gutter-sm);

      @include media-up(sm) {
        margin-right: var(--gutter-md);
      }

    }

  }

}


/* --------------------- CLASSES --------------------- */

.btn {
  @include btn;
}