/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$image-margin-top-lg:      $margin-top-lg;
$image-margin-bottom-lg:   $margin-bottom-lg;
$image-margin-top-sm:      $margin-top-sm;
$image-margin-bottom-sm:   $margin-bottom-sm;


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

img {
  display: block;
  margin-top: $image-margin-top-sm;
  margin-bottom: $image-margin-bottom-sm;

  @include media-up(md) {
    margin-top: $image-margin-top-lg;
    margin-bottom: $image-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

@mixin img-object-fit {
  @include object-fit (cover);
  @include object-position (center);
  width: 100%;
  height: 100%;
}

.img {

  &--fluid {
    width: 100%;
  }

  &--object-fit {
    @include img-object-fit;
  }

}

// .size {

//   &-medium {
//     max-width: 30rem;
//   }

// }

// .align {

//   &right {
//     float: right;
//   }

// }