$list-indent:             3rem;
$list-bullet-size:        0.6rem;
$list-bullet-color:       var(--accent);

.bullet-list {
  list-style: none;
  padding-left: $list-indent;
  margin-top: $paragraph-margin-top-sm;
  margin-bottom: $paragraph-margin-bottom-sm;

  @include media-up(sm) {
    margin-top: $paragraph-margin-top-lg;
    margin-bottom: $paragraph-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    position: relative;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &::before {
      position: absolute;
      left: -$list-indent;
      top: 0.8rem;
      display: block;
      content: '';
      width: $list-bullet-size;
      height: $list-bullet-size;
      background: $list-bullet-color;
      border-radius: 50%;
    }
    
  }

}


.numbered-list {
  list-style: none;
  padding-left: 6rem;
  counter-reset: custom-counter;
  margin-top: $paragraph-margin-top-sm + 0.5rem;
  margin-bottom: $paragraph-margin-bottom-sm;

  @include media-up(sm) {
    margin-top: $paragraph-margin-top-lg + 0.5rem;
    margin-bottom: $paragraph-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    position: relative;
    margin: 0;
    counter-increment: custom-counter;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &::before {
      position: absolute;
      left: -6rem;
      top: -0.8rem;
      display: block;
      content: counter(custom-counter) " ";
      font-weight: var(--bold);
      border-radius: 100%;
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
      line-height: 3.5rem;
      border: 0.3rem solid var(--accent);
      color: var(--grey-dark);
      text-indent: 0.1rem;

      @include media-up(md) {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
      }

    }

  }

}


.feature-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  @include cell-row;
  @include cell-row-gutter;
  justify-content: center;
  margin-top: $paragraph-margin-top-sm;
  margin-bottom: $paragraph-margin-bottom-sm;

  @include media-up(sm) {
    margin-top: $paragraph-margin-top-lg;
    margin-bottom: $paragraph-margin-bottom-lg;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    @include cell;
    @include cell-span(12);
    padding: 1rem $gutter;
    margin: 0;   
    text-align: center; 
    font-size: 1.6rem;

    @include media-up(md) {
      @include cell-span(6);
      padding: $gutter;
    }

    @include media-up(lg) {
      @include cell-span(12);
    }

    @include media-up(xxl) {
      @include cell-span(6);
    }

  }

  .feature-item {
    padding: $gutter;
    border: 0.3rem solid #c1c1c1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-up(xl) {
      padding: $gutter * 2;
    }

  }

  h4 {
    font-weight: var(--medium);
    color: var(--accent);
    margin: 0;
  }

  p {
    margin-top: 1.5rem;
    font-weight: var(--regular);
  }

}