/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$block-padding-sm: 6rem;
$block-padding-lg: 10rem;


/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin block {
  padding: $block-padding-sm $block-padding-sm;

  @include media-up(sm) {
    padding: $block-padding-lg $block-padding-lg;
  }

}

@mixin block-x {
  padding-left: $block-padding-sm;
  padding-right: $block-padding-sm;

  @include media-up(sm) {
    padding-left: $block-padding-lg;
    padding-right: $block-padding-lg;
  }

}

@mixin block-y {
  padding-top: $block-padding-sm;
  padding-bottom: $block-padding-sm;

  @include media-up(sm) {
    padding-top: $block-padding-lg;
    padding-bottom: $block-padding-lg;
  }

}

@mixin block-top {
  padding-top: $block-padding-sm;

  @include media-up(sm) {
    padding-top: $block-padding-lg;
  }

}

@mixin block-bottom {
  padding-bottom: $block-padding-lg;

  @include media-up(sm) {
    padding-bottom: $block-padding-lg;
  }

}

@mixin block-left {
  padding-left: $block-padding-lg;

  @include media-up(sm) {
    padding-left: $block-padding-lg;
  }

}

@mixin block-right {
  padding-right: $block-padding-lg;

  @include media-up(sm) {
    padding-right: $block-padding-lg;
  }

}