/*-----------------------------------------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------------------------------------*/

$block-padding-sm: 4rem;
$block-padding-md: 6rem;
$block-padding-lg: 10rem;
$block-padding-xl: 10rem;

$block-breakpoint-md: sm;
$block-breakpoint-lg: lg;
$block-breakpoint-xl: xxl;


/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin block {
  padding: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding: $block-padding-lg;
  }

  @include media-up($block-breakpoint-xl) {
    padding: $block-padding-xl;
  }

}

@mixin block-x {
  padding-left: $block-padding-sm;
  padding-right: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding-left: $block-padding-md;
    padding-right: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-left: $block-padding-lg;
    padding-right: $block-padding-lg;
  }

  @include media-up($block-breakpoint-xl) {
    padding-left: $block-padding-xl;
    padding-right: $block-padding-xl;
  }

}

@mixin block-y {
  padding-top: $block-padding-sm;
  padding-bottom: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding-top: $block-padding-md;
    padding-bottom: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-top: $block-padding-lg;
    padding-bottom: $block-padding-lg;
  }

  @include media-up($block-breakpoint-xl) {
    padding-top: $block-padding-xl;
    padding-bottom: $block-padding-xl;
  }

}

@mixin block-top {
  padding-top: $block-padding-sm;

  @include media-up($block-breakpoint-md) {
    padding-top: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-top: $block-padding-lg;
  }

  @include media-up($block-breakpoint-xl) {
    padding-top: $block-padding-xl;
  }

}

@mixin block-bottom {
  padding-bottom: $block-padding-lg;

  @include media-up($block-breakpoint-md) {
    padding-bottom: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-bottom: $block-padding-lg;
  }

  @include media-up($block-breakpoint-xl) {
    padding-bottom: $block-padding-xl;
  }

}

@mixin block-left {
  padding-left: $block-padding-lg;

  @include media-up($block-breakpoint-md) {
    padding-left: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-left: $block-padding-lg;
  }

  @include media-up($block-breakpoint-xl) {
    padding-left: $block-padding-xl;
  }

}

@mixin block-right {
  padding-right: $block-padding-lg;

  @include media-up($block-breakpoint-md) {
    padding-right: $block-padding-md;
  }

  @include media-up($block-breakpoint-lg) {
    padding-right: $block-padding-lg;
  }

  @include media-up($block-breakpoint-xl) {
    padding-right: $block-padding-xl;
  }

}


/*-----------------------------------------------------------------------------------*/
/* STYLING */
/*-----------------------------------------------------------------------------------*/

.block {
  @include block;
}

.block-y {
  @include block-y;
}

.block-x {
  @include block-x;
}

.block-top {
  @include block-left;
}

.block-bottom {
  @include block-left;
}

.block-left {
  @include block-left;
}

.block-right {
  @include block-left;
}